# Database Connection
# Points to local cloudflared tunnel bridge:
# cloudflared access tcp --hostname public-db.videreproject.com --url localhost:5432
DATABASE_URL=postgresql://public_api@localhost:5432/mtgo?sslmode=disable

# Cloudflare KV Config
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_EMAIL=
CLOUDFLARE_API_KEY=
CLOUDFLARE_DATABASE_ID=
CLOUDFLARE_ACCOUNT_ID=
